.m-body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: 40px 450px 600px 1fr;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: 
  "nav"
  "header"
  "main"
  "footern";
}
/* Navigation */
nav{
  grid-area: nav;
}
/* Dropdown menu */
.nav-big{
  display:none;
}
.drop-btn{
  display:inline-block;
}
/* Styling dropdown button */
.drop-btn > div{
  width: 35px;
  margin-left: 5px;
  margin-top: 10px;
}
.drop-btn div > div{
  height: 3px;
  width: 35px;
  background-color: #28afa7;
  margin: 5px 0;
}
/* Gömmer kontent i dropdown */
nav input[type="checkbox"]{
  display:none;
}
nav ul{
  list-style-type: none;
  margin-top: 4px;
  margin-left: 5px;
  padding-left: 5px;
  display:none;
  width: 170px;
  background-color: #28afa7;
  border-radius: 4%;
}
li a{
  padding: 5px;
  margin-top: 4px;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}
/* visar kontent i dropdown */
input[type="checkbox"]:checked ~ ul{
  display:block;
  position: absolute;
  padding-left: 0;
  background-color: #28AFA7;
}
/* logo nav */
a img{
  height: 40px;
  position: absolute;
  margin-left: 20px;
}    

/* Header ink. grid sektion */
header{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr auto;
  grid-template-areas: 
  "rubrik bild"
  "text bild"
  "knapp bild";
  grid-area: header;
  background-color:#E2F0E8;
  margin-top: 10px;
  padding-top: 10px;  
}

/* Header rubrik */
h1{
  grid-area: rubrik;
  font-size: 1.5rem;
  font-weight: 500;
  padding-right: 80px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
/* Header stycke */
#stycke-header{
  grid-area: text;
  line-height: 23px;
  padding-right: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
 
}
/* Header bild */
header img{
  max-width: 500px;
  grid-area: bild;
}

/* Knapp headern */
#Registrera-dig{ 
  grid-area: knapp;
  background-color: #28AFA7; 
  border: none;
  color:#000000;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  border-radius: 40px;
  margin-left: 10px;
  max-width: 120px;
  text-decoration: none;
  color: black;
  }

/* Våra tjänster */

.main-index{ 
  grid-area: main;
padding-left: 10px;

}
/* "knapparna" med jobbtitlar i */
.work-title{
  font-size: 16px;
  text-align: center;
  padding: 9px;
  width:max-content;
  height: max-content;
  background-color: #28AFA7;
  border-radius: 40px;
  font-weight: 700;
}

.Bild{
max-width: 100px;
max-height: 80px;

}

#rubrik-main{
  font-weight: 500;
  padding-top: 20px;
}
#stycke-main{
  line-height: 23px;
}

/* Våra tjänster grid*/
.grid-main{
  display:grid;
  grid-template-rows: 1fr 100px 1fr;
  grid-template-areas: 
  "1"
  "2"
  "3";
}

.develop{
  grid-area: 1;
  display:flex;
  margin-top: 40px;
}

.dev-container{
  display:flex;
  flex-direction: column;
}
.dev-container p{
  margin: 0;
  margin-top: 2px;
  
}

.verksam{
  grid-area: 2;
  display:flex;
  margin-top: 40px;
}

.verksam-container{
  margin-top: 4px;
  display:flex;
  flex-direction: column;
}
.verksam-container p{
  margin: 0;
  margin-top: 2px;
}

.test{
  grid-area: 3;
  display:flex;
  margin-top: 40px;
}
.test p{
  margin-left: 8px;
}

/* Footer ink grid sektion */
footer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1frx 1fr;
  grid-template-areas: 
  "Kontaktaoss"
  "Omoxeyegroup"
  "socials";
  grid-area: footern;
  background-color:#E2F0E8;
  padding-left: 10px;
}

footer a{
  color: #000000;
  }
#kontakta-oss{
  grid-area: Kontaktaoss;
}
#om-oxeyegroup{
  grid-area: Omoxeyegroup;
}
.socials{
  grid-area: socials;
}
footer h2{
  font-size: 30px;
  font-weight: 400;
}


/* Storleksanpassning desktop */

@media (min-width: 1000px){
  .m-body{
    grid-template-rows: 80px 400px 600px 400px;
  }
  /* gör om nav till desktop */
 nav{
    display:flex;
    flex-direction:row;
  }
  .nav-img{
    display:block;
    flex-grow: 5;
  }
  a img {
    margin-left: 0;
    height: 10vh;
  }
  /* Länkarna i desktop */
  .nav-big{
    display:block;
    flex-grow:0.5;
    margin: auto;
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
  }
  a.nav-big:hover{
        border-bottom: 3px solid #28AFA7;
  }
  /* tar bort mobil nav */
.drop-btn, nav input[type="checkbox"], nav ul {
    display:none;
  }
  
header {
    padding-left: 40px;   
  }
  
  header button{
     max-width: 180px;
     max-height: 50px;
  }
  
  header h1{
    font-size: 2.8vw;
  }

  #stycke-header{
    padding-right: 7vw;
  }
  
.main-index {
    padding-left: 60px; 
  }

  #rubrik-main{
    font-size: 2vw;
    font-weight: 700;
    padding-top: 30px;
  }
  
  #stycke-main{
    font-size: 16px;
    line-height: 23px;
    padding-right: 500px;
    padding-bottom: 50px;
  }
  /* gör om så flowet blir columns i main elementet */
 .grid-main{
   display:flex;  
 }
  
 .develop{
   margin-top: 0;
   display:inline-block;
   flex-grow: 1;
 }
  
 .develop p{
   margin: auto;
   margin-top: 2px;
 }
  
 .img-dev{
   display:flex;
 }
  
 .img-dev img{
   margin: auto;
 }
  
 .verksam{
   margin-top: 0;
   display:inline-block;
   flex-grow: 1;
 }
  
 .verksam p{
   margin: auto;
   margin-top: 2px;
 }
  
 .verksam-img{
   display: flex;
 }
  
 .verksam-img img{
   margin:auto;
 }
  
 .test{
   margin-top: 0;
   display:inline-block;
   flex-grow: 1;
 }
  
 .test p{
   margin: auto;
 }
  
 .test-img{
   display: flex;
 }
  
 .test-img img{
   margin:auto;
 }
  
 .Bild{
   max-height: 180px;
   max-width: 200px;
 }
  
 /* Footer expandering för desktop via flex */
 #grid-footer{
   display: flex;
   flex-grow: 1;

 }
  
#kontakta-oss{
  margin: auto;
}
  
 #om-oxeyegroup{  
   margin: auto;
 }

.socials{
  text-align: center;
}
}


/* Storleksanpassning header tablet */

@media(max-width: 1000px) and (min-width: 600px){

  header{
      padding-right: 200px;
      padding-left: 20px;
  }
  header button{
    max-width: 200px;
    max-height: 50px;
  }
  
  header h1{
    font-size: 30px;
    padding-right: 20%;
  }
  .main-index{
    padding-left: 30px;
  }

  #stycke-main{
    font-size: 15px;
  }
  
/* Footer expandering för tablet */
  
 #grid-footer{
   display: flex;
   flex-grow: 1;

 }
#kontakta-oss{
  margin: auto;
 
}
 #om-oxeyegroup{  
   margin: auto;
 }

.socials{
  text-align: center;
}
}

/* Anpassning header grid area: bild och knapp för mobil*/

@media(max-width: 1000px) and (min-width: 0px){
header img{
    display: none; 
}
header button{
  max-width: 180px;
  max-height: 50px;
}

}

